name: Sync Leetcode

on:
  workflow_dispatch:
  schedule:
    - cron: "10 * * * *"   # 每小时第10分钟跑一次（UTC）

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Sync
        uses: joshcai/leetcode-sync@v1.7
        with:
          github-token: ${{ github.token }}
          leetcode-csrf-token: ${{ secrets.LEETCODE_CSRF_TOKEN }}
          leetcode-session: ${{ secrets.LEETCODE_SESSION }}
          destination-folder: leetcode_sync
          verbose: true
          commit-header: "[LeetCode Sync]"
